
@if (windowWidth < 600){
  <div class="button-container">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @for (link of links; track link.url){
        <button mat-menu-item (onClick)="navigateToFragment(link.url)">{{link.name}}</button>
      }
    </mat-menu>
  </div>
}
@else {
  <div class="link-container">
    @for (link of links; track link.url){
      <a href="#{{link.url}}">{{link.name}}</a>
    }
  </div>
}