
  /* Top Bar */
  .body-container {
 margin: 0 auto;
     text-align: center;
    width: 80%;
    padding:   16px;
    overflow: hidden;
  }

  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */