<div id='home' class="page">
  <app-picture-frame picture="101.jpeg"></app-picture-frame>
  <div>
    <h1>Woojoo Byun & Lindsay Jung</h1>

  <p>
    We’re getting married! 🎉  
    We’re so thrilled to share this joyful moment with all of you — the people who have shaped our lives and supported us along the way.
    Whether you’ll be celebrating with us in person or from afar, your presence in our lives means everything to us.
  </p>
  <p>
    저희, 결혼합니다! 🎉  
    인생의 가장 특별한 순간을 소중한 여러분과 함께 나누게 되어 정말 기쁩니다.  
    직접 함께해 주시든, 멀리서 축하해 주시든, 여러분의 존재만으로도 저희에겐 큰 의미가 됩니다.
  </p>

  <p>
    This isn’t just a ceremony — it’s a celebration of love, friendship, and the journey ahead.  
    We’ve been counting down the days, and we can’t wait to celebrate with dancing, laughter, and unforgettable memories!
  </p>
  <p>
    이 결혼식은 단순한 의식이 아니라, 사랑과 우정, 그리고 앞으로의 여정을 축하하는 자리입니다.  
    설레는 마음으로 그날을 기다리고 있으며, 함께 웃고, 춤추고, 오래 기억에 남을 시간을 만들고 싶습니다!
  </p>

  <p>
    Thank you for being part of our story. Let the celebration begin!
  </p>
  </div>
</div>